<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <payment>
            <benepay>
                <active>1</active>
                <title>Benepay</title>
                <model>Promantus\Benepay\Model\PaymentMethod</model>
                <payment_action>order</payment_action>
                <order_status>pending_payment</order_status>
                <is_gateway>1</is_gateway>
                <is_online>1</is_online>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
            </benepay>
        </payment>
    </default>
</config>
